.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #5b88a5;
  padding: 1rem;
}

.auth-form {
  background-color: #ffffff;
  padding: 2.5rem;
  border-radius: 16px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

.auth-form h2 {
  margin-bottom: 2rem;
  font-size: 1.8rem;
  color: #222;
}

.auth-form input {
  width: 100%; 
  box-sizing: border-box;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: #f1f5f9;
}


.auth-form input:focus {
  outline: none;
  border: 1px solid #5b88a5;
}

.auth-form button {
  width: 100%;
  box-sizing: border-box;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
}


.auth-form button[type='submit'] {
  background-color: #5b88a5;
  color: #fff;
}

.auth-form button[type='submit']:hover {
  background-color: #46708a;
}

.auth-form .google-btn {
  background-color: #db4437;
  color: #fff;
}

.auth-form .google-btn:hover {
  background-color: #bf392d;
}
